################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/case design/serial_logger_case_design_Auping.svg
/.gitignore
/.gitignore
/case_design/serial_logger_case_design_Auping.svg
/schematic/seriallogger_kicad-backups
/schematic/seriallogger_kicad.kicad_pcb
/schematic/seriallogger_kicad.kicad_prl
/schematic/seriallogger_kicad.kicad_pro
